image:
  registry: "docker.io"
  repository: "kanboard/kanboard"
  tag: "v1.2.49" # renovate docker docker.io/kanboard/kanboard
  pullPolicy: "IfNotPresent"

revisionHistoryLimit: 1

application:
  port: 80
  additionalLabels: {}
  persistence:
    enabled: false
    persistentVolumeClaim:
      name: kanboard-pvc
      create: true
      storageClass: default
      size: 5Gi
      accessMode: ReadWriteMany
  env: []
    
service:
  enabled: false
  type: ClusterIP
  port: 8080
  nodePort: ~

ingress:
  enabled: false
  annotations: {}
  ingressClassName: "nginx"
  host: ~
  tls: ~

route:
  enabled: false
  annotations: {}
  labels: {}
  hostnames: []
  parentRefs: []

securityContext:
  pod: ~
  container: ~

resources: ~
